{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %}Forgot your password? | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
	<h1>Forgot your password?</h1>
	<p>No worries! Enter the email address assciated with your MSG account and we'll send you further instructions on how to change your password.</p>

	<form method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input type="submit" value="Login" class="btn btn-default">
	</form>
</div>
{% endblock %}